* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

.grid {
  max-width: 1450px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__row--reverse {
  flex-direction: column-reverse;
}

/* TODO koma mynd fyrir á öðrum stað í < 1000px */

/* TODO responsive stílar fyrir .card */

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards__row {
  display: flex;
  flex-direction: column;
}

.cards__col {
  margin-bottom: 20px;
  width: 100%;
}

.cards__col--first-flex-item {
  order: -1;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  border-bottom: 2px solid #aaa;
  border-radius: 5px;
}

.card__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.20;
  word-break: break-word;
}

.card__image {
  padding-right: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}

.card__tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.card__tag {
  font-weight: bold;
  margin-right: 10px;
}

@media only screen and (min-width: 700px) {
  .cards__row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .cards__col {
    padding: 0 10px;
    width: 50%;
  }
  .cards {
    margin-bottom: 40px;
  }
  .card {
    max-width: 470px;
    max-height: 320px;
    border: 2px solid #aaa;
    margin-bottom: 10px;
    padding: 10px;
  }
  .card__content {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .grid__col {
    width: 50%;
    margin-bottom: 40px;
  }
  .grid__row {
    flex-direction: row;
  }
  .cards__col {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1490px) {
  main {
    padding: 0;
  }
}